<div class="wrapper-outer">
  <div class="info-section" style="width:100%">
    <div *ngIf="Card">
      <div class="form-group cname" style="display:flex; justify-content:space-between">
        <div style="overflow-wrap:break-word; max-width: 70%; font-weight: bold; font-size: 20px">
          <p >{{Card.title}}</p>
        </div>
        <div>
          <button (click)="onEdit()" type="button" class="btn btn-outline-secondary"><i class="pi pi-pen-to-square"></i>  Edit</button>
        </div>
      </div>
      <br>
      <div class="wrapper-inner">
        <div class="center">
          <div>
            <i class="pi pi-list"></i> <span> List</span>
          </div>
        </div>
        <div style="overflow-wrap:break-word;">
          <p><b>{{Card.taskListName}}</b></p>
        </div>
        <div class="center">
          <div>
            <i class="pi pi-calendar"></i> <span> Due date</span>
          </div>
        </div>
        <div >
          <p><b>{{Card.dueDate | date : 'E dd MMM'}}</b></p>
        </div>
        <div class="center">
          <div>
            <i class="pi pi-tag"></i> <span> Priority</span>
          </div>
        </div>
        <div>
          <p><b>{{Card.priority}}</b></p>
        </div>
      </div>
      <h3>Description</h3>
      <div class="form-group">
        <span style="white-space: pre-line; overflow-wrap:break-word;">{{Card.description}}</span>
      </div>

    </div>
  </div>
  <div class="activity-section">
<h2>Activity</h2>
<div>
  <ul>
    <li *ngFor="let history of CardHistory | async" class="mt-4">
      @if (history.action.toLowerCase() == 'create')
      {
        <span>You created this card</span>
      }
      @else if (history.action.toLowerCase() == 'change')
      {
        @if (history.field.toLowerCase() == 'title')
        {
          <span>You renamed this card from <b><i class="pi pi-bullseye"></i>  {{history.previousValue}}</b> to <b><i class="pi pi-bullseye"></i>  {{history.newValue}}</b></span>
        }
        @else if (history.field.toLowerCase() == 'description')
        {
          <span>You changed the description of this card</span>
        }
        @else if (history.field.toLowerCase() == 'due date')
        {
          <span>You changed the due date from <b><i class="pi pi-bullseye"></i>  {{history.previousValue}}</b> to <b><i class="pi pi-bullseye"></i>  {{history.newValue}}</b></span>
        }
        @else if (history.field.toLowerCase() == 'task list')
        {
          <span>You changed status from <b><i class="pi pi-bullseye"></i>  {{history.previousValue}}</b> to <b><i class="pi pi-bullseye"></i>  {{history.newValue}}</b></span>
        }
        @else if (history.field.toLowerCase() == 'priority')
        {
          <span>You changed the priority from <b><i class="pi pi-bullseye"></i>  {{history.previousValue}}</b> to <b><i class="pi pi-bullseye"></i>  {{history.newValue}}</b></span>
        }
      }
      <p style="padding-top:5px">{{history.timestamp | date: 'MMM d'}} at {{history.timestamp | date: 'hh:mm a'}}</p>
    </li>
  </ul>
</div>
  </div>
</div>
