.list-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  justify-content: start;
  margin-top: 10px;
}

.list-container > div {
  width: 22%;
  gap: 10px;
  margin: 10px;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}